<h1><%= page_title %></h1>
<%= form_with model: @task, class: 'tasks-edit-form' do |f| %>
  <p>Please provide the following information to save your task to our database:</p>
  <p>
    <%= f.label :title %>
    <%= f.text_field :title %>
  </p>
  <p>
    <%= f.label :description %>
    <%= f.text_field :description %>
  </p>

  <p>
    <%= f.submit "Save Task", class: "task-button" %>
  </p>

<% end %>
